.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ffd6e8, #fff);
}

.card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 380px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  color: #ec4899;
  margin-bottom: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

input:focus {
  border-color: #ec4899;
}

.radio {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

button {
  margin-top: 10px;
  padding: 12px;
  background: #ec4899;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #db2777;
}

.error {
  color: red;
  font-size: 14px;
  text-align: center;
}

.success {
  color: green;
  font-size: 14px;
  text-align: center;
}